.footer-block
    .container
        ul.footer-menu
            li.item: p: a.footer-link(href='#') Footer link
        .footer-copyright
            p.
                &copy; Your Company, 2014 - 2018. All rights reserved.