@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 300
  src url('../fonts/roboto-v15-latin_cyrillic-300.eot')
  src local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v15-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v15-latin_cyrillic-300.woff2') format('woff2'), url('../fonts/roboto-v15-latin_cyrillic-300.woff') format('woff'), url('../fonts/roboto-v15-latin_cyrillic-300.ttf') format('truetype'), url('../fonts/roboto-v15-latin_cyrillic-300.svg#Roboto') format('svg')

@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 400
  src url('../fonts/roboto-v15-latin_cyrillic-regular.eot')
  src local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v15-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/roboto-v15-latin_cyrillic-regular.woff') format('woff'), url('../fonts/roboto-v15-latin_cyrillic-regular.ttf') format('truetype'), url('../fonts/roboto-v15-latin_cyrillic-regular.svg#Roboto') format('svg')

@font-face
  font-family 'Roboto Condensed'
  font-style normal
  font-weight 300
  src url('../fonts/roboto-condensed-v13-latin_cyrillic-300.eot')
  src local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/roboto-condensed-v13-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-condensed-v13-latin_cyrillic-300.woff2') format('woff2'), url('../fonts/roboto-condensed-v13-latin_cyrillic-300.woff') format('woff'), url('../fonts/roboto-condensed-v13-latin_cyrillic-300.ttf') format('truetype'), url('../fonts/roboto-condensed-v13-latin_cyrillic-300.svg#RobotoCondensed') format('svg')

@font-face
  font-family 'Roboto Condensed'
  font-style normal
  font-weight 700
  src url('../fonts/roboto-condensed-v13-latin_cyrillic-700.eot')
  src local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/roboto-condensed-v13-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-condensed-v13-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/roboto-condensed-v13-latin_cyrillic-700.woff') format('woff'), url('../fonts/roboto-condensed-v13-latin_cyrillic-700.ttf') format('truetype'), url('../fonts/roboto-condensed-v13-latin_cyrillic-700.svg#RobotoCondensed') format('svg')
