*
  box-sizing border-box
  -webkit-tap-highlight-color transparent

html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

article, details, section, summary, aside, main, menu, nav, figcaption, figure, footer, header
  display block

audio, canvas, progress, video
  display inline-block
  vertical-align baseline

audio:not([controls])
  display none
  height 0

[hidden], template
  display none

abbr[title]
  border-bottom 1px dotted

*[disabled]
  cursor default

dfn
  font-style italic

mark
  background #ff0
  color #000

b, strong
  font-weight 700

small
  font-size 80%

sub, sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em

img
  border 0

svg:not(:root)
  overflow hidden

figure
  margin 1em 40px

hr
  box-sizing content-box
  height 0

pre
  overflow auto

code, kbd, pre, samp
  font-family monospace, monospace
  font-size 1em

fieldset
  border 1px solid #c0c0c0
  margin 0 2px
  padding 0.35em 0.625em 0.75em

legend
  border 0
  padding 0

optgroup
  font-weight 400

table
  border-collapse collapse
  border-spacing 0

td, th
  padding 0

