body
  margin 0
  font-family $font-family-base
  font-size $font-size-base
  line-height $line-height-base
  color $text-color
  background-color $body-bg
  font-style normal
  font-weight $font-weight-base
  position relative
  min-width 320px
  @media (max-width 600px)
    font-size 16px

