button
  overflow visible
  color inherit
  font inherit
  margin 0
  text-transform none
  cursor pointer
  outline none
  -webkit-appearance button
  &:active
    padding 0
  &::-moz-focus-inner
    border 0
    padding 0
  &[disabled]
    cursor default

.button-element
  display inline-block
  margin-bottom 0
  fontRobotoCondensed()
  font-weight 700
  font-size 20px
  height 60px
  line-height 59px
  min-width 300px
  background $color-green
  color $color-white
  border-radius 6px
  text-decoration none
  border none
  text-align center
  vertical-align middle
  cursor pointer
  white-space nowrap
  padding 0
  text-transform uppercase
  transition background $speed-anim ease-in-out
  @media (max-width 800px)
    font-size 18px
    height 50px
    line-height 49px
    min-width 260px
  @media (max-width 600px)
    font-size 16px
    height 42px
    line-height 41px
    min-width 210px
  @media (max-width 460px)
    font-size 15px
    height 39px
    line-height 38px
    min-width 200px
  @media (max-width 400px)
    height 36px
    line-height 36px
    min-width 180px
  > span
    text-transform uppercase
    vertical-align middle
    display inline-block
    line-height 20px
    border-bottom 1px solid rgba(255, 255, 255, 1)
    transition border $speed-anim ease-in-out
    @media (max-width 600px)
      line-height 18px
    @media (max-width 400px)
      line-height 16px
  &.-mini
    font-size 16px
    height 40px
    line-height 40px
    min-width 160px
    width 100%
    > span
      line-height 16px
  &:hover, &:focus
    background #96d347
    text-decoration none
    border none
    color $color-white
    > span
      border-bottom 1px solid rgba(255, 255, 255, 0)
  &:active
    outline 0
  &[disabled]
    &
    &:hover
    &:focus
    &:active
      opacity 0.8
      background $color-green
      cursor default
      > span
        border-bottom 1px solid rgba(255, 255, 255, 1)