h1
  margin 0
  fontRobotoCondensed()
  font-size 67px
  font-weight 700
  color $color-cyan
  line-height 1.1
  text-transform uppercase
  @media (max-width 800px)
    font-size 56px
  @media (max-width 600px)
    font-size 48px
h2
  margin 0
  fontRobotoCondensed()
  font-size 40px
  font-weight 300
  line-height 1.1
  color $color-dark
  @media (max-width 800px)
    font-size 34px
  @media (max-width 600px)
    font-size 28px

h3
  margin 0
  fontRobotoCondensed()
  font-size 30px
  font-weight 300
  line-height 1.1
  color $color-dark
  @media (max-width 800px)
    font-size 26px
  @media (max-width 600px)
    font-size 24px

h4
  margin 0
  fontRobotoCondensed()
  font-size 26px
  font-weight 300
  line-height 1.1
  color $color-dark
  @media (max-width 600px)
    font-size 20px

h5
  margin 0
  fontRobotoCondensed()
  font-size 22px
  font-weight 300
  line-height 1.1
  color $color-dark
  @media (max-width 600px)
    font-size 18px