a
  background-color transparent
  color $link-color
  text-decoration $link-decoration
  border-bottom 1px solid rgba(200, 200, 200, 1)
  transition all $speed-anim ease-in-out
  &:hover
    color $link-hover-color
    text-decoration $link-hover-decoration
    border-bottom 1px solid rgba(200, 200, 200, 0)
  &:active, &:focus
    outline none