.no-animation
  animation none !important
  transition none !important
  &:before, &:after
    animation none !important
    transition none !important

p
  margin 0
  + p
    margin-top 10px

.container
  margin 0 auto
  max-width $screen-lg
  min-width $screen-xs
  padding 0 20px
  position relative