#psd
  absolute top 0 left 0 right 0 bottom 0
  opacity .5
  pointer-events none
  -webkit-filter invert(100%)
  z-index 99
  background url("../storage/psd.jpg") no-repeat 50% -40px

body:hover
  #psd
    opacity 0