.footer-block
  position relative
  background $color-silver

.footer-menu
  padding 70px 0 40px
  margin 0
  list-style none
  text-align center
  @media (max-width 700px)
    padding-top 30px
  > .item
    padding 0
    display inline-block
    margin 0 20px

.footer-link
  color $color-dark
  &:hover
    color #555555

.footer-copyright
  text-align center
  color $color-gray
  padding 0 20px 50px

