@import 'nib';

// initialize and normalize
@import "basis/_mixins"
@import "basis/_grid"
@import "basis/_normalize"
@import "basis/_variables"
// fonts
@import "basis/_fonts"
@import "basis/_svg";
// basic styles
@import "basis/body"
// input
@import "basis/input"
@import "basis/button"
@import "basis/checkbox"
@import "basis/placeholder"
@import "basis/radio"
@import "basis/select"
@import "basis/textarea"
@import "basis/label"
// other
@import "basis/h"
@import "basis/link"
@import "basis/other"

// for matting with a layout
//@import "basis/psd-maket.styl"

// styles for plug-in libraries
//@import "bower/select2";

// for a particular site
@import "partials/header";
@import "partials/footer";
@import "partials/screen";
@import "partials/order";
@import "partials/contacts";
