-
    var siteinfo = {
        language: 'en',
        title: 'Example Site',
        keywords: 'keywords',
        description: 'description',
        domain: 'yourdomain.com',
        imgUrl: 'https://yourdomain.com/img/logo250x250.png',
        latitude: '01.123456',
        longitude: '01.123456',
        country_name: 'Russia',
        postal_code: '000000',
        locality: 'Moskow',
        street_address: 'Street st., 1',
        phone_number: '+0000000000',
        email: "<script>var p=['mail','com','your','&#46;','-mail','&#64;'],e=p[2]+p[4]+p[5]+p[0]+p[3]+p[1];document.write('<a href=\"mailto:'+e+'\">'+e+'</a>');</script>",
        phone_format: '+0 (000) 000-00-00',
        compile_time: (new Date().getTime())
    };